<% provide(:title, 'Upload Order Releases') %>
<script>
  window._token = '<%= form_authenticity_token %>';
</script>
<div class="upload_errors">
  <%= render 'shared/order_error_messages' %>
</div>
<div class="dt-buttons">
  <button id="proceed_button" class="btn-link toolbar-button"> Proceed Orders</button>
  <a id="cancel_upload_button" class="toolbar-button" href="/">Skip Remaining Orders</a>
</div>
<div class="centered">
  <table class='table table-striped table-bordered center_table nowrap orders-table' id='order_releases_upload'>
    <thead>
    <tr>
      <th>purchase_order_number</th>
      <th>delivery_date</th>
      <th>delivery_shift</th>
      <th>origin_name</th>
      <th>origin_raw_line_1</th>
      <th>origin_city</th>
      <th>origin_state</th>
      <th>origin_zip</th>
      <th>origin_country</th>
      <th>client name</th>
      <th>destination_raw_line_1</th>
      <th>destination_city</th>
      <th>destination_state</th>
      <th>destination_zip</th>
      <th>destination_country</th>
      <th>phone_number</th>
      <th>mode</th>
      <th>volume</th>
      <th>handling_unit_quantity</th>
      <th>handling_unit_type</th>
    </tr>
    </thead>
    <tbody>
    <% @order_releases.each do |order_release| %>
        <tr>
          <td><%= order_release.purchase_order_number %></td>
          <td><%= order_release.delivery_date %></td>
          <td><%= order_release.delivery_shift %></td>
          <td><%= order_release.origin_name %></td>
          <td><%= order_release.origin_raw_line_1 %></td>
          <td><%= order_release.origin_city %></td>
          <td><%= order_release.origin_state %></td>
          <td><%= order_release.origin_zip %></td>
          <td><%= order_release.origin_country %></td>
          <td><%= order_release.destination_name %></td>
          <td><%= order_release.destination_raw_line_1 %></td>
          <td><%= order_release.destination_city %></td>
          <td><%= order_release.destination_state %></td>
          <td><%= order_release.destination_zip %></td>
          <td><%= order_release.destination_country %></td>
          <td><%= order_release.phone_number %></td>
          <td><%= order_release.mode %></td>
          <td><%= order_release.volume %></td>
          <td><%= order_release.handling_unit_quantity %></td>
          <td><%= order_release.handling_unit_type %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>